ng-syz-login-with-carousel-flow {
  --syz-login-with-carousel-content-login-background-color: white;
  --syz-login-with-carousel-slide-background-color: grey ;
  --syz-login-with-carousel-button-color: #FF9100;
  --syz-login-with-carousel-button-color-dark: #F56C00;
}
