ng-syz-login-with-carousel-flow {
  --syz-login-with-carousel-content-login-background-color: white;
  --syz-login-with-carousel-slide-background-color: #50555a;
  --syz-login-with-carousel-button-color: #ff9100;
  --syz-login-with-carousel-button-color-dark: #f56c00;
}
