ng-syz-login-with-carousel-flow {
  --syz-login-with-carousel-content-login-background-color: #D7DBDE;

  --syz-login-with-carousel-slide-background-color: #FF9100 ;

  --syz-login-with-carousel-flow-button-color: gray;

  --syz-login-with-carousel-flow-button-color-dark: gray;
}
