#hackathonPage {
  background-color: #fff;

  .wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 1224px;

    padding-right: 20px;
    padding-left: 20px;
  }

  .hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(36, 72, 104, 0.9),
        rgba(192, 108, 132, 0.2)
      ),
      url('/assets/hackathon/2021/banner_1920x1080.png');
    background-size: cover;
    background-position: bottom;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding-top: 56px;

    h1 {
      font-size: 72px;
      font-weight: bold;
      line-height: 72px;
      font-family: 'Squada One', cursive;
    }

    h2 {
      font-size: 36px;
      font-weight: bold;
      line-height: 36px;
      font-family: 'Squada One', cursive;
    }

    p {
      font-size: 18px;
    }

    button {
      margin-top: 48px;
      margin-bottom: 12px;
      height: 64px;
      font-size: 18px;
      font-family: 'Squada One', cursive;
    }
  }

  .content {
    padding-top: 40px;
    padding-bottom: 80px;

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .section-links {
    padding-top: 40px;
    font-family: 'Squada One', cursive;
  }

  .section-link {
    position: relative;
    background: #00766c;
    color: #fff;
    border: 2px solid #00766c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    font-size: 20px;

    & .text-container {
      position: relative;
      margin: auto;
      text-align: center;
    }

    .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    video {
      width: 100%;
    }

    &:not(:hover) .hover-image {
      opacity: 0;
    }

    &:not(:hover) .hover-image.selected {
      opacity: 1;
    }

    &:hover .hover-image {
      opacity: 1;
    }
  }

  caption {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--light-grey-color, lightgrey);
    margin-top: 1.2rem;
  }

  @media only screen and (min-width: 600px) {
    .box {
      width: 100%;
      display: flex;

      .col {
        flex: 1;
      }
    }

    .hero {
      background-image: linear-gradient(
          90deg,
          rgba(36, 72, 104, 0.5),
          rgba(192, 108, 132, 0)
        ),
        url('/assets/hackathon/2021/banner_1920x1080.png');
      background-position: bottom;
    }

    .section-links {
      display: flex;

      .section-link {
        flex: 1;
        margin: 40px 40px 0 0;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .content {
      padding-top: 80px;
    }
  }
}
