.exemplo ng-syz-performance-summary {
  --color-title: #36aa9b;
  --color-grafic: #ffb9b9;
  --color-text: #7d88c1;
  --bg-card: #d2f2ff;
}

.listExplique {
  margin-bottom: 30px;
  li {
    padding-left: 16px;
    list-style-type: none;
    &::before {
      content: '•';
      padding-right: 9px;
      color: #36aa9b;
      font-size: 29px;
      top: 6px;
      position: relative;
    }
  }
}
