.vertical-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 48px;
  margin-bottom: 48px;
}

.avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-right: 12px;
}
